.job {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.job h3 {
    margin-top: 0;
    color: #6c757d;
}

.job p {
    margin-bottom: 0;
    color: #343a40;
}

.edit-button {
    display: inline-block;
    padding: 6px 12px;
    margin: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    text-decoration: none;
  }
  
  .edit-button:hover {
    background-color: #286090;

  }

  .archive-button {
    display: inline-block;
    padding: 6px 12px;
    margin: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #e09916;

    text-decoration: none;
  }
  
  .archive-button:hover {
    background-color: #af7303;

  }


  